* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 100vh;
}

#videoElement {
  height: 100%;
  width: 100%;
}

.error{
  z-index: 100;
  position: static;
  width: 100vw;
  height: 100vh;
}
